/* Roboto Flex Font Configuration */
.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* Aplicar globalmente */
body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #0b0f13;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6ab8ff, #f6c65b);
  border-radius: 100px;
}
